[
    {
        "name": "test_aes",
        "files": ["tests/test_aes.c", "lib/source/aes_decrypt.c", "lib/source/aes_encrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": 12,
        "files": ["tests/test_aes.c", "lib/source/aes_decrypt.c", "lib/source/aes_encrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    }
]
