[
    {
        "name": "test_aes",
        "files": ["tests/test_aes.c", "lib/source/aes_encrypt.c", "lib/source/aes_decrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_cbc_mode",
        "files": ["tests/test_cbc_mode.c", "lib/source/cbc_mode.c", "lib/source/aes_encrypt.c", "lib/source/aes_decrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_ccm_mode",
        "files": ["tests/test_ccm_mode.c", "lib/source/ccm_mode.c", "lib/source/aes_encrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_cmac_mode",
        "files": ["tests/test_cmac_mode.c", "lib/source/cmac_mode.c", "lib/source/aes_encrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_ctr_mode",
        "files": ["tests/test_ctr_mode.c", "lib/source/ctr_mode.c", "lib/source/aes_encrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_ctr_prng",
        "files": ["tests/test_ctr_prng.c", "lib/source/ctr_prng.c", "lib/source/aes_encrypt.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_ecc_dh",
        "files": ["tests/test_ecc_dh.c", "lib/source/ecc.c", "lib/source/ecc_dh.c", "tests/test_ecc_utils.c", "lib/source/ecc_platform_specific.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_ecc_dsa",
        "files": ["tests/test_ecc_dsa.c", "lib/source/ecc_dsa.c", "lib/source/sha256.c", "lib/source/utils.c", "lib/source/ecc.c", "lib/source/ecc_dh.c", "test_ecc_utils.c", "lib/source/ecc_platform_specific.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_hmac",
        "files": ["tests/test_hmac.c", "lib/source/hmac.c", "lib/source/sha256.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_hmac_prng",
        "files": ["tests/test_hmac_prng.c", "lib/source/hmac_prng.c", "lib/source/hmac.c", "lib/source/sha256.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    },
    {
        "name": "test_sha256",
        "files": ["tests/test_sha256.c", "lib/source/sha256.c", "lib/source/utils.c"],
        "compilation_cmd": "-Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -MMD -Ilib/include/ -Itests/include/"
    }
]

