[
    {
        "name" : "test_aes",
        "files" : [
            "lib/source/aes_decrypt.c",
            "lib/source/aes_encrypt.c",
            "lib/source/utils.c",
            "tests/test_aes.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_cbc_mode",
        "files" : [
            "lib/source/aes_decrypt.c",
            "lib/source/aes_encrypt.c",
            "lib/source/cbc_mode.c",
            "lib/source/utils.c",
            "tests/test_cbc_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_ccm_mode",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/ccm_mode.c",
            "lib/source/utils.c",
            "tests/test_ccm_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_cmac_mode",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/cmac_mode.c",
            "lib/source/utils.c",
            "tests/test_cmac_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_ctr_mode",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/ctr_mode.c",
            "lib/source/utils.c",
            "tests/test_ctr_mode.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_ctr_prng",
        "files" : [
            "lib/source/aes_encrypt.c",
            "lib/source/ctr_prng.c",
            "lib/source/utils.c",
            "tests/test_ctr_prng.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_ecc_dh",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_platform_specific.c",
            "tests/test_ecc_utils.c",
            "tests/test_ecc_dh.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_ecc_dsa",
        "files" : [
            "lib/source/ecc.c",
            "lib/source/ecc_dh.c",
            "lib/source/ecc_dsa.c",
            "lib/source/ecc_platform_specific.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_ecc_dsa.c",
            "tests/test_ecc_utils.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_hmac",
        "files" : [
            "lib/source/hmac.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_hmac.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_hmac_prng",
        "files" : [
            "lib/source/hmac.c",
            "lib/source/hmac_prng.c",
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_hmac_prng.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    },

    {
        "name" : "test_sha256",
        "files" : [
            "lib/source/sha256.c",
            "lib/source/utils.c",
            "tests/test_sha256.c"
        ],
        "compilation_cmd" : "cc -c -Os -std=c99 -Wall -Wextra -D_ISOC99_SOURCE -Ilib/include/ -Ilib/source/ -Itests/include/ -DENABLE_TESTS"
    }
]
